:root,
:host, .light {
    --sys-background: #f9f9ff;
    --sys-on-background: #1c222e;
    --sys-surface: #f9f9ff;
    --sys-surface-dim: #d9d9e0;
    --sys-surface-bright: #f9f9ff;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f3f3fa;
    --sys-surface-container: #ededf4;
    --sys-surface-container-high: #e8e7ee;
    --sys-surface-container-highest: #e2e2e9;
    --sys-on-surface: #1c222e;
    --sys-surface-variant: #e0e2ec;
    --sys-on-surface-variant: #43474e;
    --sys-inverse-surface: #2f3036;
    --sys-inverse-on-surface: #f0f0f7;
    --sys-outline: #74777f;
    --sys-outline-variant: #c4c6cf;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #425e91;
    --sys-primary: #425e91;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #d7e3ff;
    --sys-on-primary-container: #284677;
    --sys-inverse-primary: #abc7ff;
    --sys-secondary: #435e91;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #d8e2ff;
    --sys-on-secondary-container: #2a4678;
    --sys-tertiary: #794f82;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #fcd7ff;
    --sys-on-tertiary-container: #5f3768;
    --sys-error: #904a43;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #73342d;
    --sys-neutral: #76777d;
    --sys-neutral-variant: #74777f;
    --sys-primary-fixed: #d7e3ff;
    --sys-primary-fixed-dim: #abc7ff;
    --sys-on-primary-fixed: #001b3f;
    --sys-on-primary-fixed-variant: #284677;
    --sys-secondary-fixed: #d8e2ff;
    --sys-secondary-fixed-dim: #adc7ff;
    --sys-on-secondary-fixed: #001a41;
    --sys-on-secondary-fixed-variant: #2a4678;
    --sys-tertiary-fixed: #fcd7ff;
    --sys-tertiary-fixed-dim: #e8b5ef;
    --sys-on-tertiary-fixed: #2f0a3a;
    --sys-on-tertiary-fixed-variant: #5f3768;
    --sys-inverse-secondary: #adc7ff;
    --sys-inverse-tertiary: #e8b5ef;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}