::ng-deep {
    .custom-styles {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
            font-size: 48px;
            font-weight: 500;
        }
    }

    .quiz-questions-section {
        .student-name {
            font-weight: 400;
            color: #ead8b1;
            // background: #ead8b1;
            display: inline-block;
            // color: #1c222e;
            padding: 12px;
            border-radius: 7px;
            // letter-spacing: 6px;
            margin: 0;
            margin-bottom: 12px;
        }
    }

    .answer {
        background: #ead8b1;
        display: inline-block;
        font-size: 24px !important;
        padding: 12px;
        border-radius: 4px;
        color: #1c222e;
        font-weight: 500;
    }

    .question-id {
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0.1
    }



    .fill-the-word-section {
        .answer {
            letter-spacing: 23px !important;
        }

        .question {

            h2,
            h1,
            p,
            h3 {
                font-size: 64px;
                letter-spacing: 28px;
               

            }

        }
    }

    .question-ans-section {}

    .question-with-options-section {

        .user-options {
            .radio-box {
                width: 250px;
                height: 250px;
                border-radius: 12px;
                background: #EF5A6F;
                align-items: center;
                cursor: pointer;
                margin: 15px;
                font-size: 24px;

                &.active {
                    border: 5px solid #ead8b1;
                    color: #1c222e;
                }
            }
        }
    }
}

.bottom-section-btns {
    bottom: 40px;
    right: 90px;
    margin: 0 auto;
}


// Canvas
.canvas-section {
    position: absolute;
    right: 8%;
    top: 12%;
    z-index: 0;
    width: 100px;
    height: 100px;


    .time-number {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 20px;
        transform: translate(-50%, -60%);
    }
}

.timer-Canvas {
    width: inherit;
    height: inherit
}


.user-ans-canvas {
    position: fixed;
    right: 10%;
    top: 30%;
    width: 250px;
    height: 250px;
}

.manual-ans-section {
    opacity: 0.5;
}