<section class="quiz-questions-section mt-5">
  <h2 class="student-name"> {{ selectedStudent?.name }}</h2>
  <form [formGroup]="quizForm">
    <div class="row">
      <!-- Fill the the Word Question -->

      <ng-container *ngIf="currentQuestion?.type?.name === questionType.FILL_WORD">
        <section class="fill-the-word-section custom-styles col-lg-12">
          <div class="question" [innerHTML]="currentQuestion?.question"></div>
          <section *ngIf="revaelAnswer" class="letter-pad mt-5">
            <p class="answer hightlight letter-pad-text">
              {{ currentQuestion?.answer || "Answer not available" }}
            </p>
          </section>
        </section>
      </ng-container>

      <!-- Question and Answer  -->

      <ng-container *ngIf="currentQuestion?.type?.name === questionType.QNA">
        <section class="question-ans-section custom-styles col-lg-12">
          <div class="question" [innerHTML]="currentQuestion?.question"></div>
          <section *ngIf="revaelAnswer">
            <p class="answer mt-5 hightlight">
              {{ currentQuestion?.answer || "Answer not available" }}
            </p>
          </section>
        </section>
      </ng-container>
      <!-- Question and Options -->

      <ng-container *ngIf="currentQuestion?.type?.name === questionType.OPTIONS">
        <section class="question-with-options-section custom-styles col-lg-12">
          <div class="d-flex align-items-center">
            <div class="question" [innerHTML]="currentQuestion?.question">
            </div>
            <div *ngIf="revaelAnswer" class="answer ml-3 hightlight">
              {{ currentQuestion?.answer || "Answer not available" }}
            </div>
          </div>
          <div class="user-options py-5">
            <mat-radio-group formControlName="userOption" (change)="selectOption($event.value)">
              <div class="d-flex align-items-center">
                <ng-container *ngFor="let item of currentQuestion?.options">
                  <div class="radio-box d-flex justify-content-center align-items-center" (click)="selectOption(item)"
                    matRipple [ngClass]="{'active': getActiveRadio(item) === true}">
                    <mat-radio-button class="d-none" [value]="item"> </mat-radio-button>
                    <span>{{ item }} </span>
                  </div>
                </ng-container>
              </div>
            </mat-radio-group>

          </div>
        </section>
      </ng-container>
    </div>

    <!-- Buttons -->
    <section class=" d-flex flex-column justify-content-end p-abs bottom-section-btns">
      <div class="d-flex justify-content-end">
        <button mat-button class="m-2" [disabled]="!revaelAnswer || quizForm.invalid" (click)="submitAnswer()">
          Submit
        </button>
        <button mat-button class="m-2" [disabled]="!isAnimationStopped" (click)="onReveal()"
          [disabled]="userAnswer.touched" *ngIf="(!revaelAnswer && !userAnswer.invalid)">
          Reveal Answer
        </button>
        <button mat-button class="m-2" (click)="stopTImer(true)" *ngIf="!revaelAnswer && !isAnimationStopped">
          Stop timer
        </button>
        <ng-container *ngIf="
          ((currentQuestion?.type?.name === questionType.FILL_WORD ||
            currentQuestion?.type?.name === questionType.QNA) && isAnimationStopped) 
        ">
          <mat-radio-group formControlName="manulAns" class="manual-ans-section" (change)="validateAns($event)"
            class="align-content-center">
            <mat-radio-button [value]="'true'"> Yes</mat-radio-button>
            <mat-radio-button [value]="'false'"> No </mat-radio-button>
          </mat-radio-group>
        </ng-container>
      </div>
    </section>
  </form>
  <span class="question-id"> {{ getQuestionId()}} </span>
  <section class="canvas-section">
    <h3 class="time-number" *ngIf="timerValue && !isAnimationStopped">
      {{ timerValue }}
    </h3>
    <canvas #timerCanvas class="timer-Canvas"></canvas>
  </section>

  <ng-container>
    <canvas #correctAnswer id="correct-answer" class="user-ans-canvas"></canvas>
    <canvas #inCorrectAnswer id="in-correct-answer" class="user-ans-canvas"></canvas>
  </ng-container>
</section>