<section class="students-section py-4">
    <div class="container">
        <div class="d-flex">
            <div>
                <h3 class="page-title"> {{ titles.studentTitle}} </h3>
            </div>
            <div class="ml-auto">
                <button mat-raised-button (click)="onRegister()" [disabled]="userRole !== userRoleEnum.ADMIN">
                    <mat-icon class="">add</mat-icon>
                   <span> {{ titles.REGISTER }} </span>
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</section>