<section class="auidence-section">
  <section class="mt-3">
    <!-- Admin will Select Student -->
    <div class="d-flex justify-content-center wt-100 h-80vh align-items-center"
      *ngIf="!enableCard && !enableQuestion && enableStudentSelection">
      <form [formGroup]="quizForm" class="example-form wt-30">
        <mat-form-field class="example-full-width wt-100" appearance="outline">
          <mat-label> {{playGroundConst.SELECT_A_PARTICIPENT }} </mat-label>
          <input type="text" placeholder="Select a player" matInput formControlName="studentName"
            [matAutocomplete]="auto" />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayStudentName">
            <mat-option *ngFor="let option of filteredStudentName | async" [value]="option">
              {{ option.name }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="d-flex justify-content-center">
          <span class="material-symbols-outlined mt-4" (click)="onStudentSelection()" matRipple
            [matRippleCentered]="true">
            arrow_right_alt
          </span>
        </div>
      </form>
    </div>

    <ng-container *ngIf="enableCard && !enableQuestion && !enableStudentSelection">
      <app-paticipent [studentName]="studentName" (cardEmitter)="onCardClick($event)">
      </app-paticipent>
    </ng-container>

    <ng-container *ngIf="!enableCard && !enableStudentSelection && enableQuestion">
        <app-quiz-questions [selectedStudent]="studentName.value" 
        [currentQuestion]="currentQuestion" (isSubmit)="isSubmitted($event)"
        [luckyNum]="luckyNumber"></app-quiz-questions>
    </ng-container>
    
    <!-- Arrows Backward Forward -->
    <app-arrows [forwardArrow]="forwardArrow" [backWardArow]="backWardArow"
      (emitArrow)="onArrowClick($event)">
    </app-arrows>
  </section>
  <!-- <div class="parent">
    <canvas #dotlottieCanvas id="dotlottie-canvas" class="p-rel">

    </canvas>
    <div class="timer center"> {{ timerValue}} </div>

    <button mat-button (click)="playAnimation()">Play Animation</button>
    <button mat-button (click)="stopAnimation()">Stop Animation</button>
  </div> -->
  

</section>