<section class="home-section section-gap transperant-header" id="homeSection" (scroll)="onScroll($event)">
    <div class="container mb-5">
        <div class="row mb-5 pb-3">
            <div class="col-lg-10 col">
                <h1 class="title m-0 mb-3"> {{ title }} <span class="hightlight"> {{title2 }} </span> </h1>
                <p class="m-0 sub-title"> {{ subTitle }} </p>
            </div>
        </div>
        <div>
            <button mat-flat-button class="secondary cta" color="secondary"> Join</button>
        </div>
    </div>
</section>
<app-cards></app-cards>


