::ng-deep {
  mat-checkbox {
    .mat-checkbox-layout {
      padding: 14px !important;
    }
  }

  thead {
    mat-checkbox {
      .mat-checkbox-frame {
        border-color: rgb(255 255 255 / 100%);
      }
    }

    tr {
      th {
        .mat-sort-header-arrow {
          // color: #fff;
        }
      }
    }

    .mat-sort-header-content {
      text-align: left;
    }
  }
  .custom-data-table {
    mat-chip {
      &.warning {
        background: #FFF3E0;
  
        .mat-mdc-chip-action {
          &::before{
            border-color: #FFCC80;
          }
          .mat-mdc-chip-action-label {
            color: #FF8C00;
          }
        }
      }
  
      &.success {
        background: #D4EDDA;
  
        .mat-mdc-chip-action {
          &::before {
            border-color: #C3E6CB;
          }
          .mat-mdc-chip-action-label {
            color: #155724;
          }
        }
      }
  
      &.danger {
        background: #F8D7DA;
  
        .mat-mdc-chip-action {
          &::before {
            border-color: #F5C6CB;
          }
  
          .mat-mdc-chip-action-label {
            color: #721C24;
          }
        }
      }
    }
  }
}

mat-icon {
  font-size: 20px;
}

tr.mat-row {
  cursor: pointer;
}

.mat-basic-chip {
  padding: 0 8px !important;
  border-radius: 6px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  display: inline-block !important;
  min-height: auto !important;
  height: auto !important;
}

.mat-cell,
.mat-footer-cell {
  font-size: 12px;
  padding: 0 12px 0 0;
}

.custom_input {
  position: relative !important;
  right: 15px !important;
}

.custom_input {
  .mat-form-field-wrapper {
    padding: 12px 0 !important;
  }
}

.custom-mat-stroked {
  font-size: 12px;
  padding: 0 8px;
  line-height: 28px;
}

