<section>
    <div class="bottom-acceess">
        <!-- <button class="book-mark-btn" mat-icon-button [matMenuTriggerFor]="aboveMenu" #menuTrigger>
            <span class="material-symbols-outlined">
                bookmarks
            </span>
        </button> -->
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <div class="d-flex py-2 px-3 border-bottom book-mark-title justify-content-between align-items-center">
                <div class="book-mark-title">
                    <h4 class="m-0 title">Recently Viewed</h4>
                </div>
                <div class="text-right">
                    <button class="delete-btn" mat-icon-button (click)="deleteAll()" color="warning">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </div>
            </div>
            <ng-container *ngFor="let bookMark of bookMarkList">
                <menu mat-menu-item (click)="onBookMarkClick(bookMark)">
                    <span> {{ bookMark.bookName }} : </span>
                    <span> {{ getChapterNumber(bookMark.chapterName) }} : </span>
                    <span> {{ bookMark.verseId }} </span>
                </menu>
            </ng-container>
        </mat-menu>
    </div>

    <!-- Bottom Sheet -->
    <button class="book-mark-btn" mat-icon-button (click)="openBottomSheet()">
        <span class="material-symbols-outlined">
            bookmarks
        </span>
    </button>
</section>