<section class="toolbar-section">
    <div class="d-flex align-items-center justify-content-between">
        <div class="flex-grow-1"></div>

        <div class="ml-auto">
            <nav>
                <ul class="nav-list">
                    <li class="nav-item d-flex align-items-center">
                        <button mat-icon-button class="">
                            <mat-icon class="mat-18">account_circle</mat-icon>
                        </button>
                        <span class="mat-body-1"> {{ userInfo.name | titlecase }} </span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</section>